{% extends 'base.html' %} {% block content %}

<h1>About Pixel Perfect</h1>
<hr />
<p>
  Here you can share your photos and connect with friends and followers from
  around the world. Our platform is easy to use and offers a variety of features
  to enhance your social media experience. You can create a profile, share your
  photos, and engage with others through likes, and comments. Whether you're a
  professional photographer or just love to share your life with others, our
  website is the perfect place to do it. Thanks for stopping by!
</p>

<p>
  All content on our website, including text, images, and other media, is
  protected by copyright laws. You are not permitted to use any of the content
  on our website for commercial purposes without the express written consent of
  the copyright holder. If you wish to use any of the content on our website for
  any purpose other than personal use, please contact us to request permission.
  Unauthorized use of any content on our website may result in legal action.
  Thank you for respecting the intellectual property rights of others.
</p>
<img src="https://i.imgur.com/1XNBqov.png" />
<p>Copyright (c) 2023 Pixel Perfect. All rights reserved.</p>
{% endblock %}
