{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Pixel Perfect</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
  </head>
  <body>
    <header class="navbar-fixed">
      <nav>
        <div class="nav-wrapper teal lighten-1">
          <ul>
            <li>
              <a href="/" class="left brand-logo">&nbsp;&nbsp;Pixel Perfect</a>
            </li>
          </ul>
          <ul class="right">
            <li>
              <h5>{{user.profile.username}}</h5>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <main class="container">{% block content %} {% endblock %}</main>

    {% comment %}
    <footer class="page-footer teal lighten-1 navbar-fixed">
      <nav>
        <div class="nav-wrapper teal lighten-1">
          <ul>
            <li><a href="{% url 'about' %}">About</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'post_index' %}">View All Posts</a></li>
            <li><a href="{% url 'post_create' %}">Create Post</a></li>
            <li><a href="{% url 'logout' %}">Log Out</a></li>
            <li><p>{{user.profile.username}}</p></li>
            {% else %}
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            <li><a href="{% url 'login' %}">Log In</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </footer>
    {% endcomment %}
    <div class="footer-fixed">
      <footer class="teal lighten-1">
        <nav class="z-depth-0">
          <div class="nav-wrapper teal lighten-1">
            <ul class="justify">
              <li><a href="{% url 'about' %}">About</a></li>
              {% if user.is_authenticated %}
              <li><a href="{% url 'post_index' %}">View All Posts</a></li>
              <li><a href="{% url 'post_create' %}">Create Post</a></li>
              <li><a href="{% url 'logout' %}">Log Out</a></li>

              {% else %}
              <li><a href="{% url 'signup' %}">Sign Up</a></li>
              <li><a href="{% url 'login' %}">Log In</a></li>
              {% endif %}
            </ul>
          </div>
        </nav>
      </footer>
    </div>
  </body>
</html>
