{% extends 'base.html' %} {% block content %}
{% load static %}


<h1>{{profile}}</h1>
<h5>Followers: {{ profile.user.followers.count }}</h5>
<h5>Following: {{ profile.user.following.count }}</h5>

<hr />
{% if request.user not in profile.user.followers.all %}
<div class="card-action">
  <form method="post" action="{% url 'follow' profile.user.id %}">
    {% csrf_token %}
    <button type="submit">Follow</button>
  </form>
</div>
{%elif request.user in profile.user.followers.all%}
<div class="card-action">
  <form method="post" action="{% url 'follow' profile.user.id %}">
    {% csrf_token %}
    <button type="submit">Unfollow</button>
  </form>
</div>
{%endif%}
<p>Pictures will show up here</p>
{% endblock %} 
