{% extends 'base.html' %} {% block content %}
{% load static %}


<h1>{{profile}}</h1>
<div class="card-action">
    <form method="post" action="{% url 'follow' profile.user.id %}">
    {% csrf_token %}
    <button type="submit">{{button_text}}</button>
    </form>
</div>
<h5>Followers: {{ profile.user.followers.count }}</h5>
<h5>Following: {{ profile.user.following.count }}</h5>

<hr />
{%for post in posts%}
{%if post.url%}
<a href=" {% url 'post_detail' post.id%}">
  <div class="profile-post">
    <img class="responsive-img" src="{{post.url}}" />
  </div>
</a>
{%endif%}
</div>
{%endfor%}
{% endblock %} 
